* {

}
nav{
  position: sticky;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  column-gap: 10px;

}

main {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 150vh;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  /* grid-template-columns: 20% 20% 20% 20% 20%; */
}

section {
  align-items: center;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-gap: 20px;
}

section h1 {
  grid-column: 1;
  grid-row: 2;
  margin: 20px 20px 20px 20px ;
  
}

img {
  width: 80%;
  max-width: 230px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  flex: 1;

}

.About-Me {
  margin: 20px 20px 20px 20px;
}

.Portfolio{
  grid-row: 1;
  
}
.Image {
  margin: 20px 20px 20px 20px;
}
.Bio{
  grid-row: 2;
  display: flex;
  grid-template-columns: 20% 20% 20% 20% 20%;
  column-gap: 10px;
  
}

.ContactMe {
  grid-row: 3;
  
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.PortCard {
  display: inline;
}